<div class="header_notes">

</div>	


	<div class= "btn_center">
	<button type="button" class="btn btn-default btn-lg"><%= link_to "New Note", new_entry_path %></button>
</div>

<% @entries.each do |entry| %>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= entry.subject %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= entry.contents %>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
	<% end %>
	<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
