<div class="row">
	<div class="col-md-3">
		<span style="font-size:6em;" class="text-center glyphicon glyphicon-pencil" aria-hidden="true"></span>
	</div>
	<div class="col-md-3">	
		<span style="font-size:6em;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
	</div>
	<div class="col-md-3">
		<span style="font-size:6em;" class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
	</div>
</div>